<%- model_class = Log -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:played_date) %></th>
      <th>Opponent</th>
      <th>Score</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.played_date %></td>
        <td><%= log.opponent.email %></td>
        <td><%= "#{log.player_one_score} - #{log.player_two_score}" %></td>
        <td><%= result(log.player_one_score, log.player_two_score) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
